* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: system-ui, Helvetica, sans-serif;
  color: #222;
}

h1 {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid;
}

button {
  padding: .5rem 1.5rem;
  margin-right: .5rem;
}

.space {
  height: 2rem;
}